body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: #f5ebe0;
}

.header {
    font-size: 10vh;
    text-align: center;
    padding-top: 1.5rem;
    margin-bottom: 0;
}

hr {
    margin: 0;
    margin-bottom: 1rem;
}